// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #f86060;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

@mixin button() {
    width: 135px;
    height: 83px;
    border: 2px solid $primary !important;
    color: $primary !important;
}

.navbar {
    border-bottom: 1px solid $primary;
}

.button-outline { @include button(); }

.button-round {
    @include button();
    border-radius: 2000px !important;
}

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$footer-background-color: $primary;
$footer-color: white;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy"
